<app-header></app-header>

<div
  class="container"
  style="margin-top: 80px; min-height: calc(100vh - 261px)"
>
  <div class="row">
    <div class="col-6 p-4">
      <img
        class="rounded-lg"
        src="https://firebasestorage.googleapis.com/v0/b/angular-firebase-d9b19.appspot.com/o/yt%2Fsnapedit_1730820792912.png?alt=media&token=d60e5133-0b17-4a7d-a207-0be3eb33710a "
        alt=""
      />
    </div>
    <div class="col-6 p-4">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div>
          <h2 class="title">FoodMine là gì?</h2>
          <div class="fs-5">
            FOODMINE là nền tảng cung cấp hướng dẫn công thức nấu ăn toàn diện,
            giúp người dùng dễ dàng khám phá và thực hiện các món ăn ngon với
            hướng dẫn chi tiết, từ lựa chọn nguyên liệu đến các bước chế biến.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-6">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div>
          <h2 class="title">Chức năng chính</h2>
          <div class="fs-5 features">
            <ul>
              <li>
                Tìm kiếm các món ăn theo <strong>tên</strong> hoặc
                <strong>danh mục</strong>
              </li>
              <li>
                Xem các món ăn theo từng <strong>danh mục</strong> một cách dễ
                dàng.
              </li>
              <li>
                Xem chi tiết cách làm với nhiều
                <strong>công thức miễn phí</strong> và <strong>trả phí</strong>.
              </li>
              <li>
                Khám phá <strong>các món ăn tương tự</strong> để đa dạng thực
                đơn của bạn.
              </li>
              <li>
                Và rất nhiều <strong>chức năng khác</strong> nữa đang chờ bạn
                khám phá!
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 p-4">
      <div class="d-flex justify-content-center align-items-center h-100">
        <img
          class="w-100 rounded-lg"
          src="https://vir.com.vn/stores/news_dataimages/hung/042022/19/11/project-underway-to-create-food-map-of-100-vietnamese-dishes.jpg?rt=20220419114005 "
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
