<div class="slide">
  <div class="text-center">
    <div>
      <img
        class="footer-logo"
        src="https://firebasestorage.googleapis.com/v0/b/angular-firebase-d9b19.appspot.com/o/yt%2Fsnapedit_1730820792912.png?alt=media&token=d60e5133-0b17-4a7d-a207-0be3eb33710a"
        alt=""
      />
    </div>
    <div class="fs-5 my-3">
      <a (click)="goToFooter(1)" style="cursor: pointer">Giới thiệu</a> |
      <a (click)="goToFooter(2)" style="cursor: pointer">Liên hệ</a>
    </div>
  </div>
</div>
