<!-- Header -->
<header>
  <div class="header shadow">
    <div class="d-flex">
      <div>
        <ul class="header-nav">
          <li class="px-3 py-2">
            <a class="fw-bold fs-3" href="">ADMIN</a>
          </li>
          <li class="header-nav-item" (click)="changeTabIndex(1)">
            <a class="header-nav-link">Món ăn</a>
          </li>
          <li class="header-nav-item" (click)="changeTabIndex(2)">
            <a class="header-nav-link">Danh mục</a>
          </li>
          <li class="header-nav-item" (click)="changeTabIndex(3)">
            <a class="header-nav-link">Nguyên liệu</a>
          </li>
          <li class="header-nav-item" (click)="changeTabIndex(4)">
            <a class="header-nav-link">Tài khoản</a>
          </li>
          <li class="header-nav-item" (click)="changeTabIndex(5)">
            <a class="header-nav-link">Giao dịch</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
